body {
  margin: 0px;
}

#logo {
  margin: -30px 0 0 30px;
}

header {
  display: flex;
  justify-content: space-between;
}

ol {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 55px 20px 0px 0px;
}

li {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28px;
  margin: 0px;
  padding: 0 15px 0 15px;
}

ol a {
  text-decoration: none;
  color: black;
  padding: 10px 20px 10px 20px;
}

ol a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(23, 140, 230);
  border-radius: 20px;
}
